<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Форма для поиска</h1>
        <form action="result.html">
            <input type="text" value="query_string" placeholder="Строка поиска">
            </br>
            <input type="submit" value="Искать вакансии">
            <p>
                <select name="where">
                    <option>Везде</option>
                    <option value="">В названии компании</option>
                    <option selected="">В названии вакансии</option>
                </select>
            </p>
        </form>
    <hr>
    <a href="index.html">На главную</a>
    <ol>
        <li></li>
    </ol>
</body>
</html>